.fishTank {
    text-align: center;
}

.fish {
    display: inline-block;
}

.fishPic {
    vertical-align: middle;
    margin-right: 20px;
}

.fishName {
    display: inline-block;
    vertical-align: middle;
}
